.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.card {
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 300px;
    height: auto;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 1.8rem;
    border: 5px solid  rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-out;
    overflow: visible;
   }

   .foto{
    border-radius: 30px  30px 0px 0px;
    width: 300px;
    height: 300px;
    overflow:clip;
   }
   
   .card_details {
    height: 100%;
    gap: .5em;
   }
   
   .card_button{
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 2rem;
    border: none;
    background-color: #F9B755;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text_body {
    font-family: 'Oswald', sans-serif;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
   }

   .text_title {
    color: #F9B755;
    font-size: 1.5em;
    letter-spacing: 1px;
   }
   
   .card:hover {
    border-color: #F9B755;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card_button {
    margin-left: 5px;
    scale: 1.1;
    cursor: pointer;
    transform: translate(-50%, 50%);
    opacity: 1;
   }


