*{
    margin: 0;
    padding: 0;
}
.padre{
    min-height: 100vh;
    margin: 0;
    background-image: url(./fotodetail2.jpg);
    background-repeat: repeat;
    height: auto;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    align-items: center;
    display:flex ;
    justify-content: center;
    align-content: center;
}

.card {
    align-self: flex-start;
    margin: 50px;
    padding: 20px;
    scale: 0.8;
    width: 900px;
    height: auto;
    background-color: rgba(33, 33, 33, 0.7);
    box-shadow: 15px 15px 30px #191919,
                 -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
   }
   
.card:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
   }

.name{
    padding: 30px;
    font-size: 30px;
    color: #F9B755;
    letter-spacing: 1px;
}

.title{
    padding: 12px;
    font-size: 20px;
    color: #F9B755;
    letter-spacing: 1px;
}

.text{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: rgb(240, 248, 255);
}

.pic{
    border-radius: 20px;

}

/* -----------------------BUTTON--------------------------- */
.cssbuttons_io_button_back {
    margin-top: 0%;
    text-decoration: none;
    cursor: pointer;
    background: #F9B755;
    color: white;
    font-family: inherit; 
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #F9B755; 
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    box-shadow: #F9B755; 
    }
    
    .cssbuttons_io_button_back .icon_back {
    text-decoration: none;
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #F9B755; 
    right : 0.3em;
    transition : all 0.3s;
    }
    
    .cssbuttons_io_button_back:hover .icon_back {
    text-decoration: none;
    width: calc(100% - 0.6em);
    }
    
    .cssbuttons_io_button_back .icon_back svg {
    text-decoration: none;
    width: 1.1em;
    transition: transform 0.3s;
    color: #F9B755;
    }
    
    .cssbuttons_io_button_back:hover .icon_back svg {
    
    text-decoration: none;
    transform: translateX(0.1em);
    }
    
    .cssbuttons_io_button_home:active .icon_back {
    text-decoration: none;
    transform: scale(0.95);
    }

    .link_back{
    text-decoration: none;
    align-items: center;
    margin: auto;
    }

