*{
    margin: 0%;
    font-style: normal;
}

.padre{
    min-height: 100vh;
    margin: 0;

        background-image: url(./fotoLanding.jpg);
      /*   background-repeat: no-repeat;
        height: 1200px;  */
        height: auto;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;

}
 
.div{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: flex-start;
           /*  align-items: center; */
            
    min-height: 100vh;
           /*   min-height: 100%; */
    margin: 0;
   /*  box-sizing: border-box; */
    background-image: url(./fotoLanding.jpg);
  /*   background-repeat: no-repeat; | height: 1200px;  */
    height: auto;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
   

 }

 .title{
    padding: 20px;
    font-size: 50px;
    color: #F9B755;
    letter-spacing: 1px;
}

 .itemsearch{
          /*  align-self: center; */
    /* align-self:flex-start; */
    margin: 20px;
/*     align-tracks: center; */
     flex-direction: row;

 }

.itemrefresh{
            /*  align-self: flex-end; */
  
   margin:  20px;
    flex-direction: row;
}

.itemcreate{ 
             /* align-self: flex-start; */
    margin: 20px;
    scale: 1.01;
    flex-direction: row;
}

.filters{  
/*     flex-direction: column; */
   min-width: 100%;
   height: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
    border: 2px;
    margin-top: 5px;   
  /*   background-color: #F9B755; */
}

.select{
    cursor: pointer;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    min-width: 70px;
    min-height: 30px;
    margin:  20px;
    border:none;
}

/* .fotos .Card{
    text-decoration: none;
    flex-direction: row;
    flex-wrap: wrap;
} */
.containerfotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* align-items: center; */
    align-items: flex-start;
    justify-content: center;
    scale: 0.85;
}

.link_fotos{ 
    text-decoration: none;

}
.paginado{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: -40px;
   
}

.loader{
   align-self: center;
    scale: 1.8;
}

.fotos{
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ----------------------------BUTTON CREATE----------------------------------------------- */
.cssbuttons_io_button_home {
   margin-top: 0%;
    text-decoration: none;
    cursor: pointer;
    background: #F9B755;
    color: white;
    font-family: inherit; 
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #F9B755; 
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    box-shadow: #F9B755; 
   }
   
   .cssbuttons_io_button_home .icon_home {
    text-decoration: none;
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #F9B755; 
    right : 0.3em;
    transition : all 0.3s;
   }
   
   .cssbuttons_io_button_home:hover .icon_home {
    text-decoration: none;
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons_io_button_home .icon_home svg {
    text-decoration: none;
    width: 1.1em;
    transition: transform 0.3s;
    color: #F9B755;
   }
   
   .cssbuttons_io_button_home:hover .icon_home svg {
    text-decoration: none;
    transform: translateX(0.1em);
   }
   
   .cssbuttons_io_button_home:active .icon_home {
    text-decoration: none;
    transform: scale(0.95);
   }

   .link_home{
    text-decoration: none;
   }



   /* ----------------------------BUTTON CREATE----------------------------------------------- */