
*{
    margin: 0%;
    font-style: normal;

}
/* --------------------------------------------- */

 .div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-image: url(./fotoLanding.jpg);
    background-repeat: no-repeat;
    height: 1200px; 
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
 }

 .title{
    margin-top: -500px;
    padding: 10px;
    font-size: 70px;
    color: #F9B755;
    align-self: center;
}

 .about{
    display: flex;
    letter-spacing: 2px;
    text-align: center;
    align-self: center;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    width: 900px;
    height: auto;
    align-self: center;
    margin-bottom: 50px;
    padding: 20px;
   border-radius: 30px;
   background: rgba(33, 33, 33, 0.7);
   box-shadow: 15px 15px 30px rgb(25, 25, 25),
               -15px -15px 30px rgb(60, 60, 60);
}

.text{
    align-self:center ;
    font-family: 'Oswald', sans-serif;
    color: #F9B755;
    font-size: medium;
}

.textsol{
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    color: azure;
   
}

.iconlinks{
    cursor: pointer;
    margin: 10px 10px;
 
}

.container{
    align-self: center;

}
.cssbuttons_io_button {
    text-decoration: none;
    cursor: pointer;
    background: #F9B755;
    color: white;
     font-family: inherit; 
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 32px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #F9B755; 
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    box-shadow: #F9B755; 
   }
   
   .cssbuttons_io_button .icon {
    text-decoration: none;
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #F9B755; 
    right : 0.3em;
    transition : all 0.3s;
   }
   
   .cssbuttons_io_button:hover .icon {
    text-decoration: none;
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons_io_button .icon svg {
    text-decoration: none;
    width: 1.1em;
    transition: transform 0.3s;
    color: #F9B755;
   }
   
   .cssbuttons_io_button:hover .icon svg {
    text-decoration: none;
    transform: translateX(0.1em);
   }
   
   .cssbuttons_io_button:active .icon {
    text-decoration: none;
    transform: scale(0.95);
   }

   .link{
    text-decoration: none;
    
   }
   .a{
    cursor: pointer;
   }