.contenedor{
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-image: url(./fotohome.jpg);
    height: auto;
    background-position: center center;
    background-size: cover;
    display:flex;
    padding: 50px;
}


.Bigcard {
    margin-top: 20px;
    display: flex;
    margin: auto;
    scale: 0.9;      
    height: auto; /*  el alto se va ajustar a mi contenido */
    padding: 20px;
    width: 600px;
    border-radius: 20px;
    justify-content: center;
    background-color: rgba(33, 33, 33, 0.7);
    box-shadow: 15px 15px 30px #191919,
                -15px -15px 30px #292929;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
 }
 
 .Bigcard:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
 }

.card{
 color: #F9B755;
 border-radius: 40px;
 align-items: center;

}

.title{
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.itemform{
    padding: 15px;
}

.itemback{
   margin-top: 20px;
   margin-left: 20px;
}

.label{
    margin-right: 5px;
    font-size: larger;
    letter-spacing: 1px;
}

 .input{
    border-radius: 15px;
    text-decoration: none;
    font-size: medium;
    border: none;
    height: 30px;
    width: 300px;
 }

 .inputR {
    cursor: pointer;
    font-size: medium;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: #F9B755, #F9B755;
    margin: 2px;
    padding: 5px;
}
 
 .textareasummary{
    border-radius: 15px;
    text-decoration: none;
    border: none;
    height: 60px;
    width: 350px;
    font-size: large;
 }
 .select{
    border-radius: 11px;
    text-decoration: none;
    border: none;
    font-size: large;
    height: 30px;
    width: 200px;
 }
 .textareasteps{
    border-radius: 15px;
    text-decoration: none;
    border: none;
    height: 150px;
    width: 350px;
    font-size: large;
 }
.errormsg{
    color: rgb(104, 0, 0);
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    margin-top: 4px;
    background-color: rgba(232, 156, 156, 0.5);
    border-radius: 2px;
    
}

.itemboton{
 justify-items: center;
 margin-left: 150px;
 margin-top: 60px;
 margin-bottom: 20px;
 scale: 1.4;
 box-sizing: content-box;
 align-self: flex-end;
}

.diets{
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    margin-right: 5px;
    padding: 2px;
    scale: 1.1;
}
.botondiets{
    margin-left: 5px;
    border-radius: 3px;
    background-color: #F9B755;
    color: aliceblue;
    cursor: pointer;
}

/* -----------------------BUTTON--------------------------- */
        .cssbuttons_io_button_back {
            margin-top: 0%;
            text-decoration: none;
            cursor: pointer;
            background: #F9B755;
            color: white;
            font-family: inherit; 
            padding: 0.35em;
            padding-left: 1.2em;
            font-size: 15px;
            font-weight: 500;
            border-radius: 0.9em;
            border: none;
            letter-spacing: 0.05em;
            display: flex;
            align-items: center;
            box-shadow: inset 0 0 1.6em -0.6em #F9B755; 
            overflow: hidden;
            position: relative;
            height: 2.8em;
            padding-right: 3.3em;
            box-shadow: #F9B755; 
            }
            
            .cssbuttons_io_button_back .icon_back {
            text-decoration: none;
            background: white;
            margin-left: 1em;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.2em;
            width: 2.2em;
            border-radius: 0.7em;
            box-shadow: 0.1em 0.1em 0.6em 0.2em #F9B755; 
            right : 0.3em;
            transition : all 0.3s;
            }
            
            .cssbuttons_io_button_back:hover .icon_back {
                /* transform: rotate(180deg); */
            text-decoration: none;
            width: calc(100% - 0.6em);
            }
            
            .cssbuttons_io_button_back .icon_back svg {
                /* transform: rotate(180deg); */
            text-decoration: none;
            width: 1.1em;
            transition: transform 0.3s;
            color: #F9B755;
            }
            
            .cssbuttons_io_button_back:hover .icon_back svg {
            
            text-decoration: none;
            transform: translateX(0.1em);
            }
            
            .cssbuttons_io_button_home:active .icon_back {
        
            text-decoration: none;
            transform: scale(0.95);
            }
        
            .link_back{
            text-decoration: none;
            align-items: center;
            margin: auto;
            }

/* -----------------------BUTTON--------------------------- */